

.dropzone {
  outline: none;
  cursor: pointer;
}

.App {
  text-align: left;
  padding-top: .5rem;
}

.img-container {
  width: 360px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  margin-bottom: 1rem;
}

figure {
  outline-style:none;
  width: 300px;
  text-align: center;
  margin: auto;
  vertical-align: middle;
}


.customTable {
  height:150px;
}

.card {
  margin-bottom: 1rem
}

.invalid {
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: #dc3545;
}